@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos de menu */
.menu-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.menu-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.menu-table td a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-table td:hover {
    background-color: #e0e0e0;
}

.menu-table td a:hover {
    color: #5a748f;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #555;
    padding: 10px;
}

/* Tabla tipo menu */
.menu-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

.menu-table td {
    padding: 10px;
    background-color: #b6c0b8;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.menu-table td a {
    color: white;
    text-decoration: none;
}

.menu-table td:hover {
    background-color: #666666a9;
}

.menu-table td a:hover {
    color: #ddd;
}

/* Cajas */
.info-box {
    background-color: #cee2d6;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

/* Centrar imagen */
.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Boton regreso */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b6c0b8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.btn:hover {
    background-color: #666666a9;
    color: #ddd;
}